body {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  display: flex;
  gap: 10%;
  align-items: flex-end;
}
.hero-main {
  width: 100%;
  height: 50%;
 
}
